.buttons {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.buttons--news {
  border-bottom: 2px solid $dark-white;
}

.buttons h2 {
  color: $black;
  font-style: 26px;
  line-height: 20px;
  font-weight: bold;

  margin: 0;
  padding-bottom: 40px;
}

.buttons__item {
  width: 16px;
  height: 16px;

  display: inline-block;
  position: relative;

  cursor: pointer;

  background-color: transparent;

  padding: 2px;

  border: none;

  &:hover,
  &:active,
  &:focus {
    opacity: 0.5;
  }
}

.buttons__item::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;

  position: absolute;
  top: calc(50% - 4px);

  border: solid $black;
  border-width: 0 2px 2px 0;
}

.buttons__item--prev {
  margin-right: 20px;
}

.buttons__item--prev::after {
  transform: rotate(135deg);
  left: 5px;
}

.buttons__item--next::after {
  transform: rotate(-45deg);
  right: 5px;
}
