.news {
  padding: 100px;

  background-color: $white;

  @media (max-width: $tablet-width) {
    padding: 40px 80px 40px;
  }

  @media (max-width: $mobile-width) {
    padding: 40px 24px;
  }
}

.news__list {
  padding-top: 40px;

  @media (max-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
  }
}

.news__item {
  @media (max-width: $tablet-width) {
    width: calc(50% - 20px);

    margin-bottom: 40px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
