$tablet-width: 1023px;
$mobile-width: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$Acumin: "Acumin", "Helvetica", sans-serif;

$white: #ffffff;
$dark-white: #ebeded;
$gray: #f6f8f9;
$dark-gray: #a6adb4;
$light-gray: #cbd0d3;
$black: #202124;
$light-black: #343638;
$pink: #fa6980;
