footer.footer
  .footer__inner
    a(class="footer__logo" href="#") LOGO
    .footer__nav.add-nav
      ul.add-nav__column
        li.add-nav__item
          a(class="add-nav__link" href="#") Home
        li.add-nav__item
          a(class="add-nav__link" href="#") Discovery
        li.add-nav__item
          a(class="add-nav__link" href="#") Photos
        li.add-nav__item
          a(class="add-nav__link" href="#") Contact
      ul.add-nav__column
        li.add-nav__item
          a(class="add-nav__link" href="#") About
        li.add-nav__item
          a(class="add-nav__link" href="#") Help
        li.add-nav__item
          a(class="add-nav__link" href="#") Terms
        li.add-nav__item
          a(class="add-nav__link" href="#") Guidlines
      ul.add-nav__column
        li.add-nav__item
          a(class="add-nav__link" href="#") Testimonials
        li.add-nav__item
          a(class="add-nav__link" href="#") Advertise
        li.add-nav__item
          a(class="add-nav__link" href="#") Integrations
        li.add-nav__item
          a(class="add-nav__link" href="#") Careers
    .footer__form
      form(action="#" method="POST")
        input(type="email" name="user-email" id="user-email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Email" required)
        label(for="user-email") Stay in touch with us for the freshest products!
    .footer__social.social
      ul.social__list
        li.social__item
          a(class="social__link" href="#") 
            span.visually-hidden Instagram link
            svg(class="social__icon", width="16", height="16")
              use(xlink:href="img/sprite_auto.svg#insta-icon")
        li.social__item
          a(class="social__link" href="#") 
              span.visually-hidden Twitte link
              svg(class="social__icon", width="16", height="16")
                use(xlink:href="img/sprite_auto.svg#tw-icon")
        li.social__item
          a(class="social__link" href="#") 
            span.visually-hidden Facebook link
            svg(class="social__icon", width="9", height="16")
              use(xlink:href="img/sprite_auto.svg#fb-icon")
        li.social__item
          a(class="social__link" href="#") 
            span.visually-hidden Pinterest link
            svg(class="social__icon", width="16", height="16")
              use(xlink:href="img/sprite_auto.svg#pinterest-icon")